body {
  height: 10000px;
}

.menu, .sub-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu {
  word-spacing: -1ch;
  background: green;
  /* box-shadow: 0 10px 20px green; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.menu-link, .sub-link {
  text-decoration: none;
  color: white;
}

.menu-link {
  display: block;
  padding: 10px;
  transition: all 0.5s;
}

.sub-link {
  display: block;
  padding: 5px;
  transition: all 0.5s;
}

/* Áp dụng CSS cho menu-link khi mà chuột di chuyển qua */
.menu-link.active, .menu-link:hover, .sub-link:hover {
  background: #fff;
  color: green;
}

.menu-item:hover > .sub-menu {
  display: block;
  height: 85px;
}

.sub-item:hover > .sub-menu {
  display: block;
  
}

.sub-item {
  position: relative;
}

.sub-item .sub-menu {
  top: 0;
  left: 100%;
  width: 100%;
}

.sub-item:hover > .sub-link {
  background: #fff;
  color: green;
}

.menu-item:hover .menu-link {
  background: #fff;
  color: green;
}

.sub-menu {
  /* display: none; */
  position: absolute;
  background: #1cb11c;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}